.ex3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.messages-container {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  p {
    border-top: 1px solid #ccc;
    padding: 10px;
  }
}

.text-input-container {
  display: flex;
  input {
    display: block;
    flex: 1;
  }
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(134, 141, 170);
  padding: 0 20px;
}

.connect-modal {
  position: absolute;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    height: 50px;
    padding: 5px;
    font-size: 20px;
  }
}