.ex1 {
  flex: 1;
  padding: 50px;
}

.traffic-light {
  background: rgb(47, 48, 56);
  width: 60px;
  height: 180px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.light {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #555;
  margin: 0 auto;
}

.green.on {
  background-color:rgb(32, 187, 71);
}

.yellow.on {
  background-color:rgb(233, 236, 54);
}

.red.on {
  background-color:rgb(187, 32, 32);
}