.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-navigation {
  height: 50px;
  background: #eee;
  border-bottom: 2px solid #fff;
  padding: 0 20px;
  box-shadow: 0 2px 5px #ccc;
  z-index: 1;

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
  }
}

.App-navigation ul li {
  margin-right: 20px;
}

.App-navigation ul li a {
  background: #eee;
  padding: 2px 20px;
  display: block;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  color: #000;

  &:active,
  &:visited {
    color: #000;
  }

  &.active {
    border: 2px solid #555;
    background: #fff;
  }

  &:hover {
    cursor: pointer;
    background: #fff;
  }
}

section.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #abc;
}

button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;

  &:hover {
    background-color: #4d7bfa;
  }
  &:active {
    top: 0.1em;
  }
}
@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}


.content {
  padding: 20px;
  h1, h2, h3, p, ul {
    margin-bottom: 20px;
  }
  ul {
    padding-left: 20px;
  }
}