.ex2 {
  flex: 1;
  padding: 50px;
}

.box {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  header {
    border-left: 10px solid #ddd;
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  .controls {
    margin-top: 10px;
  }
}